{% extends 'bootstrap/base.html' %}

{% block head %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% if title %}
        <title>{{ title }} - AniMate</title>
    {% else %}
        <title>Welcome to AniMate!</title>
    {% endif %}
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="static/assets/css/Customizable-Background--Overlay.css">
    <link rel="stylesheet" href="static/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/assets/css/smoothproducts.css">
</head>
{% endblock %}

{% block body %}
<body>

    {% block nav %}
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="{{ url_for("index") }}" style="color: rgb(101,25,207);font-size: 30px;"><strong>AniMate</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    {% if current_user.is_anonymous %}
                    <li class="nav-item"><a class="nav-link" style="font-size: 14px;color: var(--dark);" href="{{ url_for("login") }}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" style="font-size: 14px;background: var(--purple);color: var(--white);border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;" href="{{ url_for("register") }}">Register</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" style="font-size: 14px;color: var(--dark);" href="{{ url_for("contact") }}">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link" style="font-size: 14px;color: var(--dark);" href="{{ url_for("search") }}">Search</a></li>
                    <li class="nav-item"><a class="nav-link" style="font-size: 14px;color: var(--dark);" href="{{ url_for("recommend") }}">Recommendations</a></li>
                    <li class="nav-item"><a class="nav-link" style="font-size: 14px;color: var(--dark);" href="{{ url_for("logout") }}">Logout</a></li>
                    <li class="nav-item"><a class="nav-link" style="font-size: 14px;background: var(--purple);color: var(--white);border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;" href="{{ url_for("dashboard") }}">Dashboard</a></li>
                    {% endif %}
                </ul> 
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block app_content %}{% endblock %}

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 item text">
                        <h3>About the Creator</h3>
                        <p>AniMate is developed an maintained by Thet Naing, a data scientist and hobbyist based out of New York, NY. Use the social links below to explore Thet's LinkedIn, portfolio, and GitHub!</p>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>About AniMate</h3>
                        <p>AniMate is an Anime Recommendation System powered by collaborative filtering. AniMate uses millions of user ratings for 10,000 animes to match users with their next favorite anime.</p>
                    </div>
                    <div class="col item social">
                        <a class="bg-dark" href="https://www.linkedin.com/in/thet-naing/"><i class="fab fa-linkedin"></i></a>
                        <a class="bg-dark" href="https://github.com/naingthet/AniMate"><i class="fab fa-github"></i></a>
                        <a class="bg-dark" href="https://tnaing.app/"><i class="icon ion-ios-contact"></i></a>
                        <a class="bg-dark" href="mailto:naingthet@gmail.com"><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
                <p class="copyright">AniMate © 2021 (MIT License)</p>
            </div>
        </footer>
    </div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="static/assets/js/smoothproducts.min.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>
{% endblock %}

