{% extends "base.html" %}

{% block app_content %}
    <main class="page landing-page">
        <div style="height: 858px;">
            <div class="d-flex justify-content-center align-items-center" style="height: inherit;min-height: initial;width: 100%;position: absolute;background-image: url('static/assets/img/hero.png');">
                <div class="d-flex align-items-center order-12" style="height:200px;">
                    <div class="container">
                        <h1 class="text-center" style="color: var(--white);font-size: 56px;font-weight: bold;font-family: Roboto, sans-serif;text-shadow: 6px 0px var(--dark);">Personalized Anime Recommendations</h1>
                        <h3 class="text-center" style="color: rgb(242,245,248);padding-top: 0.25em;padding-bottom: 0.25em;font-weight: normal;font-size: 24px;text-shadow: 2px 2px var(--dark);">AniMate uses collaborative filtering to match you to new content</h3>
                        {% if current_user.is_anonymous %}
                        <br>
                        <div class="row justify-content-center">
                            <div class="col text-center"><a class="btn btn-primary btn-lg text-center" role="button" href="{{ url_for('register') }}" style="color: var(--purple);background: var(--light);border: 4px solid var(--purple);border-radius: 12px;"><strong>Get Started</strong></a></div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-center" style="color: var(--purple);">Features</h2>
                    <p>AniMate is packed with features to help you find your next favorite anime.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-star icon" style="color: var(--purple);"></i>
                        <h4>Recommendations Learn From You</h4>
                        <p>AniMate's powerful recommendation system learns from your anime ratings. As you rate more animes, the recommendations become stronger!</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-star icon" style="color: var(--purple);"></i>
                        <h4>Track Your Favorites</h4>
                        <p>AniMate allows you to keep track of your favorite animes, and uses your favorites to suggest you new content!</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon" style="color: var(--purple);"></i>
                        <h4>Full Text Search</h4>
                        <p>AniMate leverages the Elastic Search search engine to help you find and rate your favorite animes.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon" style="color: var(--purple);"></i>
                        <h4>User Support</h4>
                        <p>Users can create secure accounts with AniMate and receive support through email whenever necessary.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}