{% extends "base.html" %}

{% block app_content %}
    <main class="page landing-page">
        <div style="height: 857px;background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%), var(--blue);">
            <div class="d-flex justify-content-center align-items-center" style="height: inherit;min-height: initial;width: 100%;position: absolute;left: 0;background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%), var(--blue);">
                <div class="d-flex align-items-center order-12" style="height:200px;">
                    <div class="container">
                        <h1 class="text-center" style="color: rgb(242,245,248);font-size: 56px;font-weight: bold;font-family: Roboto, sans-serif;">Thanks for visting AniMate!</h1>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}