{% extends "base.html" %}

{% block app_content %}
    <main class="page landing-page">
        <div style="height: 858px;">
            <div class="d-flex justify-content-center align-items-center" style="height: inherit;min-height: initial;width: 100%;position: absolute;background-image: url('static/assets/img/hero.png');">
                <div class="d-flex align-items-center order-12" style="height:200px;">
                    <div class="container">
                        <h1 class="text-center" style="color: var(--white);font-size: 56px;font-weight: bold;font-family: Roboto, sans-serif;text-shadow: 6px 0px var(--dark);">Thanks for visiting AniMate!</h1>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}