{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Recommendations</h2>
                    <p>Search for animes so that you can rate them!</p>
                </div>
                <div class="block-content" style="text-align: left;">

                <div class="row">
                    <div class="col" style="text-align: center;">
                        {{ wtf.quick_form(form, button_map={'submit': 'primary'}) }}
                    </div>
                    {% if user_predictions %}
                    <br><br>
                </div><br>
                    <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th id="trs-hd" style="text-align: center;background: var(--purple);color: var(--white);border-style: solid;">Name</th>
                                <th id="trs-hd" style="text-align: center;width: 300px;background: var(--purple);color: var(--white);border-style: solid;">Match</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prediction in user_predictions %}
                            <tr>
                                <td style="text-align: center;"><a href="/{{ prediction.anime_name }}">{{ prediction.anime_name }}</a></td>
                                <td style="text-align: center;">{{ prediction.match }}%</td>
                            </tr>
                            {% endfor %}
                            <tr></tr>
                        </tbody>
                    </table>
                        {% endif %}
            </div>
        </section>
    </main>

{% endblock %}